$base-link-color: #024b6c;
$breakpoint-small: 480px;
$breakpoint-medium: 769px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1280px;
$container-max-width: 1260px;
$button-font-size: 1.4rem;
$button-large-font-size: 1.6rem;
$button-line-height: 2.4rem;
$button-large-line-height: 2.6rem;
$button-default-background: #76b737;
$button-default-color: #fff;
$button-default-hover-background: #fff;
$button-default-hover-color: #76b737;
$base-em-color: inherit;
$base-focus-outline-width: 0;
$margin-medium-margin: 4rem;
$grid-large-gutter-horizontal-l: 7rem;
$grid-large-gutter-vertical-l: 7rem;
$grid-gutter-horizontal-l: 4rem;
$grid-gutter-vertical-l: 4rem;
$margin-margin: 3rem;
$grid-small-gutter-horizontal: 2rem;
$grid-small-gutter-vertical: 2rem;
$margin-large-margin-l: 8rem;
$grid-medium-gutter-horizontal: 5rem;
$margin-medium-margin: 5rem;
$table-cell-padding-vertical: 1.6rem;
$table-cell-padding-horizontal: 1.2rem;
$margin-small-margin: 1rem;