@use 'theme-variables' as *;

.block-editor-iframe__html * {
	box-sizing: border-box;
}

.block-editor-iframe__html {
	font-size: 62.5%;
	height: 100%;
}

input[type=radio]:checked::before {
	margin: 0.15rem;
}

svg {
	max-width: none;
}

.wp-block-freeform.block-library-rich-text__tinymce a {
	color: $accent-2-color;

	&.btn {
		color: $contrast-2-color;

		&.blue-btn {
			color: $base-2-color;
		}
	}
}

.editor-styles-wrapper .is-root-container {
	width: 100%;
}

// GRID Block Styles

.editor-styles-wrapper .wp-block-acf-grid-block .acf-field-662bca6f1b587 input {
	max-width: 110px;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li label {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li input {
	margin-right: 50px;
	border: none;
	opacity: 0;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li {
	display: table;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li label:before {
	position: absolute;
	cursor: pointer;
	content: "";
	display: block;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 20px;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li label:after {
	position: absolute;
	cursor: pointer;
	content: "";
	display: none;
	transition: ease-in 3s ease;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 20px;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(1) label:before {
	background-image: url('../images/fullwidthcolumn.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(1):hover label:after {
	background-image: url('../images/fullwidthcolumndark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(1) label.selected:after {
	background-image: url('../images/fullwidthcolumndark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(2) label:before {
	background-image: url('../images/twocolumns5050.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(2):hover label:after {
	background-image: url('../images/twocolumns5050dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(2) label.selected:after {
	background-image: url('../images/twocolumns5050dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(3) label:before {
	background-image: url('../images/twocolumns3366.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(3):hover label:after {
	background-image: url('../images/twocolumns3366dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(3) label.selected:after {
	background-image: url('../images/twocolumns3366dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(4) label:before {
	background-image: url('../images/twocolumns6633.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(4):hover label:after {
	background-image: url('../images/twocolumns6633dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(4) label.selected:after {
	background-image: url('../images/twocolumns6633dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(5) label:before {
	background-image: url('../images/twocolumns4060.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(5):hover label:after {
	background-image: url('../images/twocolumns4060dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(5) label.selected:after {
	background-image: url('../images/twocolumns4060dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(6) label:before {
	background-image: url('../images/twocolumns6040.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(6):hover label:after {
	background-image: url('../images/twocolumns6040dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(6) label.selected:after {
	background-image: url('../images/twocolumns6040dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(7) label:before {
	background-image: url('../images/threecolumns.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(7):hover label:after {
	background-image: url('../images/threecolumnsdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-row-layout li:nth-child(7) label.selected:after {
	background-image: url('../images/threecolumnsdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-vertical-align li label {
	position: relative;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-vertical-align li input {
	margin-right: 25px;
	border: none;
	opacity: 0;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-vertical-align li {
	display: table;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-vertical-align li label:before {
	position: absolute;
	cursor: pointer;
	content: "";
	display: block;
	top: -5px;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 24px;
	height: 24px;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-vertical-align li label:after {
	position: absolute;
	cursor: pointer;
	content: "";
	display: none;
	transition: ease-in 3s ease;
	top: -5px;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 24px;
	height: 24px;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-vertical-align li:nth-child(1) label:before {
	background-image: url('../images/aligntop.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-vertical-align li:nth-child(1):hover label:after {
	background-image: url('../images/aligntopdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-vertical-align li:nth-child(1) label.selected:after {
	background-image: url('../images/aligntopdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-vertical-align li:nth-child(2) label:before {
	background-image: url('../images/alignmiddle.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-vertical-align li:nth-child(2):hover label:after {
	background-image: url('../images/alignmiddledark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-vertical-align li:nth-child(2) label.selected:after {
	background-image: url('../images/alignmiddledark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li label {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 7px;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li input {
	margin-right: 25px;
	border: none;
	opacity: 0;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li {
	display: table;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li label:before {
	position: absolute;
	cursor: pointer;
	content: "";
	display: block;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 24px;
	height: 24px;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li label:after {
	position: absolute;
	cursor: pointer;
	content: "";
	display: none;
	transition: ease-in 3s ease;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 24px;
	height: 24px;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li:nth-child(1) label:before {
	background-image: url('../images/horizalignleft.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li:nth-child(1):hover label:after {
	background-image: url('../images/horizalignleftdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li:nth-child(1) label.selected:after {
	background-image: url('../images/horizalignleftdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li:nth-child(2) label:before {
	background-image: url('../images/horizaligncenter.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li:nth-child(2):hover label:after {
	background-image: url('../images/horizaligncenterdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li:nth-child(2) label.selected:after {
	background-image: url('../images/horizaligncenterdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li:nth-child(3) label:before {
	background-image: url('../images/horizalignright.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li:nth-child(3):hover label:after {
	background-image: url('../images/horizalignrightdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-horizontal-align li:nth-child(3) label.selected:after {
	background-image: url('../images/horizalignrightdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-columns-gap li label {
	position: relative;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-columns-gap li input {
	margin-right: 25px;
	border: none;
	opacity: 0;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-columns-gap li {
	display: table;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-columns-gap li label:before {
	position: absolute;
	cursor: pointer;
	content: "";
	display: block;
	top: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 30px;
	height: 15px;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-columns-gap li label:after {
	position: absolute;
	cursor: pointer;
	content: "";
	display: none;
	transition: ease-in 3s ease;
	top: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 30px;
	height: 15px;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-columns-gap li:nth-child(1) label:before {
	background-image: url('../images/twocolumns5050.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-columns-gap li:nth-child(1):hover label:after {
	background-image: url('../images/twocolumns5050dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-columns-gap li:nth-child(1) label.selected:after {
	background-image: url('../images/twocolumns5050dark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-columns-gap li:nth-child(2) label:before {
	background-image: url('../images/twocolumnsbig.svg');
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-columns-gap li:nth-child(2):hover label:after {
	background-image: url('../images/twocolumnsbigdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block .ci-columns-gap li:nth-child(2) label.selected:after {
	background-image: url('../images/twocolumnsbigdark.svg');
	transition: ease-in 3s ease;
	display: block;
}

.editor-styles-wrapper .wp-block-acf-grid-block {

	.column-11-bgr,
	.column-11-text,
	.column-12-1-bgr,
	.column-12-1-text,
	.column-12-2-bgr,
	.column-12-2-text,
	.column-13-1-bgr,
	.column-13-1-text,
	.column-13-2-bgr,
	.column-13-2-text,
	.column-13-3-bgr,
	.column-13-3-text,
	.column-13-1-of-2-bgr,
	.column-23-2-bgr,
	.column-23-2-text,
	.column-23-1-bgr,
	.column-23-1-text,
	.column-13-2-of-2-bgr,
	.column-25-1-bgr,
	.column-25-1-text,
	.column-35-2-bgr,
	.column-35-2-text,
	.column-35-1-bgr,
	.column-35-1-text,
	.column-25-2-bgr,
	.column-25-2-text {
		border-top: 2px solid #007cba !important;
		margin-top: 50px;
	}

	.column-11-bgr,
	.column-12-1-bgr,
	.column-12-2-bgr,
	.column-13-1-bgr,
	.column-13-2-bgr,
	.column-13-3-bgr,
	.column-13-1-of-2-bgr,
	.column-23-2-bgr,
	.column-23-1-bgr,
	.column-13-2-of-2-bgr,
	.column-25-1-bgr,
	.column-35-2-bgr,
	.column-35-1-bgr,
	.column-25-2-bgr {
		position: relative;
		border-left: 2px solid #007cba !important;
		border-right: none !important;

		&+.acf-field {
			border-right: 2px solid #007cba !important;

			&+.acf-field {
				border-left: 2px solid #007cba !important;
				border-right: 2px solid #007cba !important;
				border-bottom: 2px solid #007cba !important;
			}
		}

		&:before {
			content: "";
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 50px;
			height: 20px;
			top: -22px;
			left: -2px;
		}
	}

	.column-11-bgr {
		&:before {
			background-image: url('../images/fullwidthcolumndark.svg');
		}
	}

	.column-12-1-bgr {
		&:before {
			background-image: url('../images/column-12-1-active.svg');
		}
	}

	.column-12-2-bgr {
		&:before {
			background-image: url('../images/column-12-2-active.svg');
		}
	}

	.column-13-1-bgr {
		&:before {
			background-image: url('../images/column-13-1-active.svg');
		}
	}

	.column-13-2-bgr {
		&:before {
			background-image: url('../images/column-13-2-active.svg');
		}
	}

	.column-13-3-bgr {
		&:before {
			background-image: url('../images/column-13-3-active.svg');
		}
	}

	.column-13-1-of-2-bgr {
		&:before {
			background-image: url('../images/column-13-1-of-2-active.svg');
		}
	}

	.column-23-2-bgr {
		&:before {
			background-image: url('../images/column-23-2-active.svg');
		}
	}

	.column-23-1-bgr {
		&:before {
			background-image: url('../images/column-23-1-active.svg');
		}
	}

	.column-13-2-of-2-bgr {
		&:before {
			background-image: url('../images/column-13-2-of-2-active.svg');
		}
	}

	.column-25-1-bgr {
		&:before {
			background-image: url('../images/column-25-1-active.svg');
		}
	}

	.column-35-2-bgr {
		&:before {
			background-image: url('../images/column-35-2-active.svg');
		}
	}

	.column-35-1-bgr {
		&:before {
			background-image: url('../images/column-35-1-active.svg');
		}
	}

	.column-25-2-bgr {
		&:before {
			background-image: url('../images/column-25-2-active.svg');
		}
	}
}

// END GRID Block Styles