@use 'theme-variables' as *;

html * {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	height: 100%;
	@media (min-width: 1920px) {
		font-size: 78%;
	}
	@media (min-width: 2560px) {
		font-size: 85%;
	}
}

:root {
	--current-theme-bg: var(--wp--preset--color--base-2, #f9f9f9);
	--current-theme-text: var(--wp--preset--color--contrast, #00022e);
	--current-theme-accent: var(--wp--preset--color--accent, #1cc8ff);
}

body, .wp-site-blocks, .site-main {
	transition: background-color 0.3s ease-out, color 0.3s ease-out; // Short transition for small jumps
	background-color: var(--current-theme-bg) !important;
	color: var(--current-theme-text);
}

.wp-site-blocks {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	p,
	li,
	span:not(.wp-block-navigation-item__label, .service-card__cta-text) {
		&:not(.has-text-color) {
			color: var(--current-theme-text);
		}
	}
}



a:not(.btn, .wp-element-button, .uk-navbar-nav > li > a) {
	color: var(--current-theme-accent);
	&:hover {
		color: $accent-2-color;
	}
}


:root :where(.is-layout-constrained) > .ci-block:first-child:not(.ci-has-background, .ci-hero-block) {
	margin-block-start: 10rem;
	@media screen and (max-width: 769px) {
		margin-block-start: 4rem;
	}
}

:root :where(.is-layout-constrained) > .ci-block:last-child:not(.ci-has-background) {
	margin-block-end: 10rem;
	@media screen and (max-width: 769px) {
		margin-block-end: 4rem;
	}
}

.wp-site-blocks, .editor-styles-wrapper {
	/*Sticky Footer*/
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	> main {
		flex: 1 0 auto;
		&.site-main {
			&:has(.ci-hero-block) {
				margin-top: 0;
			}
		}
	}
	.loaded & {
		a {
			transition: all .3s ease;
		}
	}
	h1:not(.is-layout-constrained > h1),
	.h1:not(.is-layout-constrained > *) {
		margin: 0 0 3rem;
	}

	h2:not(.is-layout-constrained > h2),
	.h2:not(.is-layout-constrained > *) {
		margin: 0 0 3rem;
	}

	h3:not(.is-layout-constrained > h3),
	.h3:not(.is-layout-constrained > *) {
		margin: 0 0 3rem;
	}

	h4:not(.is-layout-constrained > h4),
	.h4:not(.is-layout-constrained > *) {
		margin: 0 0 3rem;
	}

	h5:not(.is-layout-constrained > h5),
	.h5:not(.is-layout-constrained > *) {
		margin: 0 0 3rem;
	}

	h6:not(.is-layout-constrained > h6),
	.h6:not(.is-layout-constrained > *) {
		margin: 0 0 3rem;
	}
	.h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: $heading-font;
		font-weight: 500;
		line-height: 1.4;
	}
	.h1 {
		font-size: $h1-font-size;
	}
	.h2 {
		font-size: $h2-font-size;
	}
	.h3 {
		font-size: $h3-font-size;
	}
	.h4 {
		font-size: $h4-font-size;
	}
	.h5 {
		font-size: $h5-font-size;
	}
	.h6 {
		font-size: $h6-font-size;
	}
	p:not(.is-layout-constrained > p),
	ul:not(.is-layout-constrained > ul),
	ol:not(.is-layout-constrained > ol),
	dl:not(.is-layout-constrained > dl),
	table:not(.is-layout-constrained > table),
	hr:not(.is-layout-constrained > hr),
	pre:not(.is-layout-constrained > pre),
	blockquote:not(.is-layout-constrained > blockquote) {
		margin: 0 0 3rem;
	}
	p, h1, h2, h3, h4, h5, h6, li {
		a {
			word-break: break-word;
		}
	}
	.uk-text-small {
		font-size: .8em;
	}
	h1 a:where(:not(.wp-element-button, .btn)),
	h2 a:where(:not(.wp-element-button, .btn)),
	h3 a:where(:not(.wp-element-button, .btn)),
	h4 a:where(:not(.wp-element-button, .btn)),
	h5 a:where(:not(.wp-element-button, .btn)),
	p a:where(:not(.wp-element-button, .btn)),
	li a:where(:not(.wp-element-button, .btn)),
	h6 a:where(:not(.wp-element-button, .btn)) {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		text-decoration: none;
	}
	input, textarea, select {
		padding: 1.2rem 2rem;
		background-color: transparent;
		font-size: $p-font-size;
		font-family: $main-font;
		border: .1rem solid $contrast-color;
		border-radius: 3rem;
	}
	input[type="submit"] {
		cursor: pointer;
	}
	input[type="radio"] {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 150%;
		padding: .8rem;
		border-color: transparent;
		transition: all .3s ease;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:checked {
			background-color: $accent-color;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E");
		}
	}
	input::-webkit-input-placeholder {
		font-family: $main-font;
		font-size: 1.5rem;
		color: rgba(2,75,108,.4);
		letter-spacing: 1px;
		font-weight: 400;
	}

	input:-moz-placeholder {
		font-family: $main-font;
		font-size: 1.5rem;
		color: rgba(2,75,108,.4);
		letter-spacing: 1px;
		font-weight: 400;
	} /* FF 4-18 */

	input::-moz-placeholder {
		font-family: $main-font;
		font-size: 1.5rem;
		color: rgba(2,75,108,.4);
		letter-spacing: 1px;
		font-weight: 400;
	} /* FF 19+ */

	input:-ms-input-placeholder {
		font-family: $main-font;
		font-size: 1.5rem;
		color: rgba(2,75,108,.4);
		letter-spacing: 1px;
		font-weight: 400;
	} /* IE 10+ */

	textarea::-webkit-input-placeholder {
		font-family: $main-font;
		font-size: 1.5rem;
		color: rgba(2,75,108,.4);
		letter-spacing: 1px;
		font-weight: 400;
	}

	textarea:-moz-placeholder {
		font-family: $main-font;
		font-size: 1.5rem;
		color: rgba(2,75,108,.4);
		letter-spacing: 1px;
		font-weight: 400;
	} /* FF 4-18 */

	textarea::-moz-placeholder {
		font-family: $main-font;
		font-size: 1.5rem;
		color: rgba(2,75,108,.4);
		letter-spacing: 1px;
		font-weight: 400;
	} /* FF 19+ */

	textarea:-ms-input-placeholder {
		font-family: $main-font;
		font-size: 1.5rem;
		color: rgba(2,75,108,.4);
		letter-spacing: 1px;
		font-weight: 400;
	} /* IE 10+ */

	input:focus::-webkit-input-placeholder {
		color:transparent;
	}

	input:focus:-moz-placeholder {
		color: transparent;
	} /* FF 4-18 */

	input:focus::-moz-placeholder {
		color: transparent;
	} /* FF 19+ */

	input:focus:-ms-input-placeholder {
		color: transparent;
	} /* IE 10+ */

	textarea:focus::-webkit-input-placeholder {
		color: transparent;
	}

	textarea:focus:-moz-placeholder {
		color: transparent;
	} /* FF 4-18 */

	textarea:focus::-moz-placeholder {
		color: transparent;
	} /* FF 19+ */

	textarea:focus:-ms-input-placeholder {
		color: transparent;
	} /* IE 10+ */

	blockquote {
		font-size: 1.8rem;
		cite {
			font-weight: bold;
		}
	}
	.wp-element-button,
	.wp-block-button__link,
	.btn {
		position: relative;
		z-index: 3;
		overflow: hidden;
		display: inline-block;
		border-radius: 3rem;
		padding: 1.3rem 2rem;
		border: .2rem solid $accent-color;
		border: none;
		background-color: $accent-color;
		font-size: $p-font-size;
		font-weight: 500;
		font-family: $heading-font;
		color: #fff;
		line-height: 1.3;
		text-decoration: none;
		transition: all .4s ease;
		letter-spacing: .08em;
		text-align: center;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 0;
			opacity: 0;
			height: 0;
			background: none repeat scroll 0 0 $accent-2-color;
			border-radius: 50%;
			transform: translateX(-50%) translateY(-50%);
			transition: all .4s ease 0s;
			z-index: -1;
		}
		&:hover {
			text-decoration: none;
			color: #fff;
			// background-color: $accent-2-color;
			border-color: $accent-2-color;
			&::after {
				height: 500%;
				width: 110%;
				opacity: 1;
			}
		}
		&.has-background, &.has-text-color {
			border-width: 0;
		}
	}
	.wp-block-button.is-style-outline {
		> .wp-block-button__link:not(.has-text-color, .has-background),
		> .wp-element-button:not(.has-text-color, .has-background) {
			background-color: #fff;
			color: $accent-2-color;
			&:hover {
				color: #fff;
				background-color: $accent-2-color;
			}
		}
	}
	// fix uikit animation fade in on scroll (Homepage swiper demo)
	.animation-fade-container {
		.animation-fade-item {
			visibility: hidden;
			&.uk-scrollspy-inview {
				visibility: visible;
			}
		}
	}
	*[data-attr="not-animated"] {
		.animation-fade-item {
			visibility: visible !important;
			opacity: 1 !important;
		}
	}
	.big-gap {
		margin-top: 10rem;
		margin-bottom: 10rem;
		&.ci-has-background {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 10rem;
			padding-bottom: 10rem;
		}
		@media (max-width: 769px) {
			margin-top: 4rem;
			margin-bottom: 4rem;
			&.ci-has-background {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 4rem;
				padding-bottom: 4rem;
			}
		}
	}

	.small-gap {
		margin-top: 4rem;
		margin-bottom: 4rem;
		&.ci-has-background {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}

	section {
		margin-top: 10rem;
		margin-bottom: 10rem;
		&.small-gap {
			margin-top: 4rem;
			margin-bottom: 4rem;
		}
		&.ci-has-background {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 10rem;
			padding-bottom: 10rem;
			&.small-gap {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 4rem;
				padding-bottom: 4rem;
			}
		}
		@media screen and (max-width: 769px) {
			margin-top: 4rem;
			margin-bottom: 4rem;
			&.small-gap {
				margin-top: 4rem;
				margin-bottom: 4rem;
			}
			&.ci-has-background {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 4rem;
				padding-bottom: 4rem;
				&.small-gap {
					margin-top: 0;
					margin-bottom: 0;
					padding-top: 4rem;
					padding-bottom: 4rem;
				}
			}
		}
	}
	.section-full-width {
		margin-left: calc($g-padding-left * -1) !important;
		margin-right: calc($g-padding-right * -1) !important;
		padding-left: $g-padding-left;
		padding-right: $g-padding-right;
		max-width: calc(100% + $g-padding-left + $g-padding-right) !important;
		.container {
			max-width: $content-size;
		}
	}
	.section-container {
		margin-left: calc($g-padding-left * -1) !important;
		margin-right: calc($g-padding-right * -1) !important;
		padding-left: $g-padding-left;
		padding-right: $g-padding-right;
		max-width: calc(100% + $g-padding-left + $g-padding-right) !important;
		.container {
			max-width: $content-size;
		}
	}
	.section-container-wide {
		margin-left: calc($g-padding-left * -1) !important;
		margin-right: calc($g-padding-right * -1) !important;
		padding-left: $g-padding-left;
		padding-right: $g-padding-right;
		max-width: calc(100% + $g-padding-left + $g-padding-right) !important;
		.container {
			max-width: $wide-size;
		}
	}
	.container {
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		max-width: $content-size;
	}
	/* Text meant only for screen readers. */
	.screen-reader-text {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
	}
	.screen-reader-text:focus {
		background-color: #eee;
		clip: auto !important;
		clip-path: none;
		color: #444;
		display: block;
		font-size: 1em;
		height: auto;
		left: .5rem;
		line-height: normal;
		padding: 1.5rem 2rem 1.5rem;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
		/* Above WP toolbar. */
	}
	//editor styles
	img {
		&.alignleft {
			float: left;
			margin: 0 3rem 3rem 0;

			@media (max-width: 580px) {
				display: block;
				float: none;
				margin-right: 0;
			}
		}

		&.alignright {
			float: right;
			margin: 0 0 3rem 3rem;

			@media (max-width: 580px) {
				display: block;
				float: none;
				margin-left: 0;
			}
		}
		&.aligncenter {
			display: block;
			margin: 0 auto;
		}
	}

	.ci-has-text-color {
		*:not(.btn) {
			color: inherit;
		}
	}

	section.ci-has-background:has(.section-background-image ) {
		position: relative;
		overflow: hidden;
		.container {
			position: relative;
			z-index: 5;
		}
		.section-background-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 120%;
			object-fit: cover;
			object-position: center;
			z-index: 1;
		}
		.section-img-overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
			mix-blend-mode: multiply;
			& + * {
				position: relative;
				z-index: 5;
			}
		}
	}

	p:empty {
		display: none;
	}

	//section 508 focus fix
	.uk-link-toggle:focus {
		outline: auto;
	}
	.uk-icon-link:focus {
		outline: auto;
	}
	.uk-icon-button:focus {
		outline: auto;
	}
	.uk-range:focus {
		outline: auto;
	}
	.uk-input:focus,.uk-select:focus,.uk-textarea:focus {
		outline: auto;
	}
	.uk-radio:focus,.uk-checkbox:focus {
		outline: auto;
	}
	.uk-button:focus {
		outline: auto;
	}
	.uk-close:focus {
		outline: auto;
	}
	.uk-totop:focus {
		outline: auto;
	}
	.uk-marker:focus {
		outline: auto;
	}
	.uk-badge:focus {
		outline: auto;
	}
	.uk-search-input:focus {
		outline: auto;
	}
	.uk-search-icon:focus {
		outline: auto;
	}
	.uk-accordion-title:focus {
		outline: auto;
	}
	.uk-slideshow-items>:focus {
		outline: auto;
	}
	.uk-slider-items>:focus {
		outline: auto;
	}
	.uk-nav li>a:focus {
		outline: auto;
	}
	.uk-navbar-nav>li>a:focus,.uk-navbar-nav>li>a.uk-open {
		outline: auto;
	}
	.uk-navbar-toggle:focus,.uk-navbar-toggle.uk-open {
		outline: auto;
	}
	.uk-subnav>*>a:focus {
		outline: auto;
	}
	.uk-slidenav:focus {
		outline: auto;
	}
	.uk-dotnav>*>:focus {
		outline: auto;
	}
	.uk-thumbnav>*>:focus {
		outline: auto;
	}
	.uk-iconnav>*>a:focus {
		outline: auto;
	}
	.uk-lightbox-items>:focus {
		outline: auto;
	}
	.uk-animation-toggle:focus {
		outline: auto;
	}
	.uk-logo:hover,.uk-logo:focus {
		outline: auto;
	}
	.uk-transition-toggle:focus {
		outline: auto;
	}
	.uk-visible-toggle:focus {
		outline: auto;
	}
	//END section 508 focus fix

	/* Helper classes */
	.rm-last-child-margin > * {
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
	.social-icons {
		display: flex;
		align-items: center;
		gap: 1rem 1.5rem;
		a {
			display: inline-block;
		}
		img, svg {
			height: 2.1rem;
			max-width: 2.2rem;
			width: auto;
			@media all and (-ms-high-contrast:none) {
				height: 100%;
				max-height: 2rem;
			}
		}
	}
	*.ci-label {
		display: block;
		width: 100%;
		margin-bottom: 1.5rem;
		font-size: 1.3rem;
		color: $accent-color !important;
		font-family: $heading-font;
		letter-spacing: .1em;
		padding-top: .6rem;
		border-top: 1px solid $accent-color;
	}
	p:has(> .ci-label-text) {
		margin-bottom: 1.2rem;
	}
	*.ci-label-text {
		font-size: 1.3rem;
		letter-spacing: .1em;
		line-height: 1.2;
		font-family: $heading-font;
	}
	*.ci-label-pill {
		display: inline-block;
		padding: .4rem 1rem;
		border-radius: 999rem;
		background-color: transparent;
		border: 1px solid $accent-color;
		color: $accent-color !important;
		font-size: 1.3rem;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: .1em;
	}
	.sr-only {
		border: 0 !important;
		clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
		-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;  /* 2 */
		height: 1px !important;
		margin: -1px !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
		white-space: nowrap !important;            /* 3 */
	}
	.site-footer, .site-header {
		.address, .phone, .email {
			display: block;
			position: relative;
			padding-left: 2.5rem;
			&:before {
				content: '';
				position: absolute;
				width: 1.6rem;
				height: 2rem;
				left: 0;
				top: 0;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
	.ci-query-posts-block {
		.image-wrapper {
			display: block;
			position: relative;
			width: 100%;
			aspect-ratio: 16 / 9;
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
			overflow: hidden;
			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 1s ease;
			}
			&:hover {
				img {
					transform: scale(1.06);
				}
			}
		}
		.query-posts-card {
			display: flex;
			flex-direction: column;
			padding: 2rem;
			background-color: $base-color;
			background-color: rgb(242,242,242);
			border-radius: 1rem;
			border: .2rem solid $base-color;
			height: 100%;
			transition: box-shadow .3s ease;
			&.white-card {
				background-color: #fff;
			}
			a.post-title {
				text-decoration: none;
				h3 {
					margin: 0;
					color: $accent-color;
					transition: all .3s ease;
				}
				&:hover {
					h3 {
						color: $accent-2-color;
					}
				}
			}
			p {
				color: $contrast-color !important;
			}
			&:hover {
				box-shadow: rgba(0, 0, 0, .03) 1px 7px 7px 3px;
			}
		}
	}
}

.navigation.pagination {
	margin-top: 5rem;
	text-align: center;
	.nav-links {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: .6rem;
	}
	.current {
		color: var(--current-theme-accent);
	}
	a {
		text-decoration: none;
		color: var(--current-theme-accent);
		&:hover {
			color: var(--current-theme-accent);
		}
	}
}

.info-cf7-map-section {
	margin-bottom: 0 !important;
	.map-wrp {
		position: relative;
		min-height: 35rem;
		aspect-ratio: 9 / 3;
		margin-left: calc($g-padding-left * -1) !important;
		margin-right: calc($g-padding-right * -1) !important;
		max-width: calc(100% + $g-padding-left + $g-padding-right) !important;
		iframe {
			position: absolute;
			width: 100% !important;
			height: 100% !important;
			left: 0;
			top: 0;
		}
	}
}

.wpcf7 {
	.wpcf7-not-valid-tip {
		position: absolute;
		top: calc(100% - 1.5rem);
		left: 0;
		font-size: .8em;
	}
	input, textarea {
		width: 100%;
	}
	input[type="submit"] {
		padding: 1.2rem 3rem;
		width: auto;
		background-color: $accent-color;
		border-color: $accent-color;
		font-weight: 500;
		font-family: $heading-font;
		letter-spacing: .08em;
		transition: all .3s ease;
		&:hover {
			background-color: $accent-2-color;
			border-color: $accent-2-color;
		}
	}
	.wpcf7-form-control-wrap {
		display: block;
		transition: all .3s ease;
		&:has(.wpcf7-not-valid-tip) {
			padding-bottom: 2rem;
		}
	}
	.wpcf7-form div.wpcf7-response-output {
		margin-bottom: 0;
	}
	form.sent {
		div.wpcf7-response-output {
			border-color: $accent-2-color;
		}
	}
	.wpcf7-form-control-wrap:has(> .wpcf7-radio, > .wpcf7-checkbox) {
		display: block;
		margin-top: 1.5rem;
		.wpcf7-radio {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem 3rem;
		}
		.wpcf7-list-item {
			margin-left: 0;
			> label {
				display: flex;
				align-items: center;
				gap: .6rem;
				cursor: pointer;
				input {
					margin: 0;
					width: auto;
					cursor: pointer;
				}
			}
		}
	}
}

.info-wrp {
	position: relative;
	margin-bottom: 3rem;
	padding-left: 6rem;
	min-height: 4rem;
	p {
		margin-bottom: 1.5rem;
	}
	h3 {
		margin-bottom: 1.5rem;
		font-size: $h6-font-size;
		color: var(--current-theme-text);
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: -.2rem;
		width: 3rem;
		height: 3rem;
		background-size: contain;
		background-position: left center;
		background-repeat: no-repeat;
	}
	&.work-info-wrp {
		&:before {
			background-image: url('../images/clock.svg');
		}
	}
	&.email-info-wrp {
		&:before {
			background-image: url('../images/ico-email.svg');
		}
	}
	&.phone-info-wrp {
		&:before {
			background-image: url('../images/ico-phone.svg');
		}
	}
	&.location-info-wrp {
		&:before {
			background-image: url('../images/ico-location.svg');
		}
	}
	&.social-info-wrp {
		svg, path {
			fill: var(--current-theme-accent);
		}
	}
}

.ci-blog-block {
	.postform {
		color: #747474;
		height: 2.9rem;
		padding-top: 0;
		padding-bottom: 0;
		border-color: #f2f2f2;
		background-color: #ffffff;
		margin-bottom: 2rem;
	}

	.posts-wrp {
		.blog-grid-view {
			.single-blog-wrp {
				padding: 0 0 0 2rem;
				border-top: none;
				border-bottom: none;
			}

			.read-more-link-wrp {
				flex: none;
				text-align: unset;
				margin-left: 0;
				display: block;
				align-items: unset;
			}
		}

		.single-blog-wrp {
			padding: 2rem 0;
			border-top: 1px solid #e0dede;
			border-bottom: 1px solid #e0dede;

			&:first-child {
				padding-top: 0;
				border-top: none;
			}

			@media screen and (max-width: 1023px) {
				padding: 2rem 0;
			}
		}

		.post-title {
			transition: all .3s ease;
			color: $accent-2-color;

			a {
				text-decoration: none;
				transition: all .3s ease;
				font-weight: 400;
			}

			&:hover {
				color: $accent-color;

				a {
					color: $accent-color;
				}
			}
		}

		.kpContent-gender {
			.post-title {
				transition: all .3s ease;

				&:hover {
					color: $accent-2-color;

					a {
						color: $accent-2-color;
					}
				}
			}
		}

		.post-excerpt {
			font-size: 1.6rem;
		}

		.single-info-wrp {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 2.5rem;
			height: 100%;
		}

		.read-more-link-wrp {
			flex: 1;
			text-align: right;
			margin-left: auto;
			display: flex;
			align-items: flex-end;
		}

		.read-more-link {
			text-decoration: none;
			position: relative;
			padding-right: 1.2rem;

			&::after {
				content: "";
				position: absolute;
				top: calc(50% + .1rem);
				right: 0;
				transform: translateY(-50%) rotate(-90deg);
				width: 1rem;
				height: 1rem;
				transition: all .3s ease;
				background-image: url('../images/dropdown-arrow.svg'), url('../images/dropdown-arrow-green.svg');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}

			&:hover {
				color: $accent-color;

				&::after {
					background-image: url('../images/dropdown-arrow-green.svg'), url('../images/dropdown-arrow.svg');
				}
			}

			&.kpFoot-gender-read-more {
				&:hover {
					color: $accent-2-color;
				}
			}
		}
	}

	.link-ico,
	.loop-ico {
		width: 3.6rem;
		height: 3.6rem;
		border-radius: 50%;
		background-color: $accent-color;
		background-size: 50%;
		background-position: center;
		background-repeat: no-repeat;
	}

	.link-ico {
		background-image: url('../images/link-ico.svg');
	}

	.loop-ico {
		background-image: url('../images/loop.svg');
		overflow: hidden;
	}

	.links-wrp {
		margin: 0 1rem 1rem;
	}

	.post-thumb {
		display: block;
		position: relative;

		&:hover {
			.rollover-info {
				opacity: 1;
				transform: none;
			}
		}

		.wp-post-image {
			aspect-ratio: 14 / 9;
			width: 100%;
			object-fit: cover;
			margin-bottom: 0;
		}

		&.ci-iframe {
			aspect-ratio: 14 / 9;
			width: 100%;

			iframe {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.rollover-info {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $contrast-3-color;
		padding: 1.5rem;
		width: 100%;
		height: 100%;
		//height: auto;
		//min-height: 100%;
		transform: translateX(-100%);
		opacity: 0;
		transition: all .3s ease;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}

		&.kpThumb-gender-hover {
			background-color: unset;
			background-image: -webkit-linear-gradient(top, rgba(232, 203, 144, 0.8) 0%, rgba(214, 173, 90, 0.8) 100%);
			transition: all 0.3s ease-in-out;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;

			* {
				color: #333333;
				text-align: center;
			}

			h4 {
				color: #333333;
				font-weight: 400;

				&:hover {
					a {
						color: #333333;
						font-weight: 400;
					}
				}
			}
		}

		@media screen and (max-width: 1023px) {
			display: none;
		}

		>div {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			gap: .4rem;
			height: 100%;
			overflow: auto;
			scrollbar-width: none;
			-ms-overflow-style: none;

			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
		}

		* {
			color: $accent-color;
		}

		h4 {
			color: $accent-color;
		}

		.post-category {
			a {
				text-decoration: none;
				font-size: 1.2rem;
			}
		}

		.hidden-img {
			width: 0;
			height: 0;
			visibility: hidden;
			opacity: 0;
			display: none;
		}
	}
}