@use 'assets/css/sass/custom/theme-variables' as *;

.ci-infinite-slider-block {
	overflow: hidden;

	.infinite-slider-intro {
		@include intro-max-width;
		margin-bottom: 4rem;

		@media screen and (max-width: 768px) {
			margin-bottom: 2.4rem;
		}
	}

	.infinite-slider-track-wrap {
		width: 100%;
		position: relative;
		pointer-events: none;
	}

	.infinite-slider-swiper {
		width: 100%;
		overflow: visible;
		pointer-events: none;
		user-select: none;

		.swiper-wrapper {
			align-items: center;
			transition-timing-function: linear !important;
			pointer-events: none;
		}
	}

	.infinite-slider-slide {
		width: auto;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		user-select: none;
		pointer-events: none;
	}

	.infinite-slider-image-holder {
		height: 50rem;
		width: auto;
		border-radius: 2rem;
		overflow: hidden;
		display: block;
		line-height: 0;
		background-color: var(--wp--preset--color--base-2, transparent);
		pointer-events: none;

		@media screen and (max-width: 1024px) {
			height: 38rem;
			border-radius: 1.6rem;
		}

		@media screen and (max-width: 640px) {
			height: 26rem;
			border-radius: 1.2rem;
		}
	}

	.infinite-slider-img {
		height: 100%;
		width: auto;
		max-width: none;
		display: block;
		object-fit: cover;
		pointer-events: none;
		user-select: none;
		-webkit-user-drag: none;
	}
}
