@use 'assets/css/sass/custom/theme-variables' as *;

.ci-highlighted-text-block {
	.highlighted-text-content {
		margin: 0;
	}
	.ht-word {
		display: inline-block;
		opacity: 0.2;
		margin-right: 0.3em;
		&.is-highlighted {
			opacity: 1;
		}
	}
}
